@import 'antd/dist/antd.css';

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #0a101e;
}
body {
  font-variant: normal;
}
#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
}
.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
